body {
    padding: 0px 10px 0px 10px;
    background: #212121;
	
}

.container {
    text-align: center;
    padding: 0px !important;
}

td {
    text-align: left;
}

form {
    margin: 20px auto;
}

h1 {
    color: white;
    font-size: 2.4em;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.6em;
}


p {
    color: white;
}

hr {
    border-top: 1px solid black;
}

/* NAVBAR START */

.navbar-header {
    float: none;
    border: 0px solid #212121;
    padding: 20px;
}

@media only screen and (max-width: 479px) {
    .navbar-header {
    padding: 10px;
    }
}

.navbar-toggle {
    display: block;
    background-color: #212121 !important;
    border: 0px;
    margin: 12px 0px 0px 0px;;
}

.navbar-collapse.collapse {
    display: none!important;
    border: solid 1px #212121;
}

.nav-center {
    text-align: center;
}

.navbar-nav {
    float: none!important;
    font-size: 1.2em;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}


.navbar-nav > li {
    float: none;
    height: 50px !important;
}

.navbar-nav > li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  line-height: 20px !important;
}

.navbar-nav a:hover {
    background-color: #444444 !important;
}

.navbar-collapse.collapse.in {display: block !important; }

.navbar-collapse {
    padding: 0px;
}

.back_button {
    width: 45px;
    margin-top: 5px;
}

.logo {
    width: 180px;
    margin-top: 10px;
}

.icon-bar {
    background-color: white;
}

/* NAVBAR END */

/* BUTTONS STYLING */

.btn {
    border-radius: 0px;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
    margin: 30px auto 0px auto;
    /* min-width: 400px; */
    color: white;
    border: none;
    min-width: 290px;
    box-shadow: 5px 5px 5px #000000;
}

.btn:hover, .btn:focus, btn:active {
    color: white;
    box-shadow: 10px 10px 10px #000000;
    transition: 0.3s ease-in-out;
}
.btn-raise-incident {
    background-color: #e12031;    
    margin: 30px auto;
}
.btn-raise-incident:hover {
    background-color: #f42638;    
}
.btn-submit {
    background-color: #21a1ff;    
    border-radius: 0px;
    min-width: inherit;
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active {
    background-color: #50b5ff;
    color: white;
}

.btn-send-message {
    background-color: #e12031;    
}
.btn-send-message:hover {
    background-color: #f42638;    
}
.btn-check-resources {
    background-color: #207c49;
}
.btn-check-resources:hover {
    background-color: #259156;
}
.btn-request-by-ves {
    background-color: #e12031;
}
.btn-request-by-ves:hover {
    background-color: #f42638;
}
.btn-request-by-incident {
    background-color: #1765a3;
}
.btn-request-by-incident:hover {
    background-color: #1f76bc;
}
.btn-request-by-resource {
    background-color: #207c49;    
}
.btn-request-by-resource:hover {
    background-color: #259156;    
}
.btn-request-by-ability {
    background-color: #811e54;    
}
.btn-request-by-ability:hover {
    background-color: #952562; 
}

/* BUTTONS STYLING END */

.request-assistance-icon {
    margin-top: 30px;
}

.request {
    padding: 20px 0px 20px 0px;
}

.glyphicon-alert {
    margin-bottom: 10px;    
}

.table-incidents {
    margin-top: 20px;
    font-family: 'Roboto', 'Arial', sans-serif;
    max-width: 100%;
}

.table-incidents > thead > tr > th {
    color: white;
    background-color: #2e2d2d;
    border: none;
    padding: 15px 7px;
}

.table-incidents > tbody > tr:hover {opacity: 0.95;}
.table-incidents > tbody > tr:nth-child(odd) > td, 
.table-incidents > tbody > tr:nth-child(odd) > th  {
    background-color: #4d4d4d;
    color: #eaeaea;
    padding: 15px 7px !important;
    border: none;
}

.table-incidents > tbody > tr:nth-child(even) > td, 
.table-incidents > tbody > tr:nth-child(even) > th  {
    color: #eaeaea;
    background-color: #363636;
    padding: 15px 7px !important;
    border: none;
}

.table-incidents > tbody > tr:hover {opacity: 0.90;}

.table-incidents a {
    color: #fff46a;
    text-decoration: underline;
}

.incident_status {
    background-color: #f8f8f8;
    padding: 20px 0px 20px 0px;
}

.incident_details {
    padding: 20px 0px 20px 0px;
}
.incident_details h4 {
	color: #f7f7f7;
	font-size: 1.2em;
}

.incident_details p {
	color: #ffffff;
	font-size: 1em;
}

.unread {
    font-weight: bold;
}
.pra {
    font-weight: normal;
    font-style: italic;
}
.message_body {
    text-align: left;
    padding: 0 25px;
}
.message {
    margin: 10px auto;
}

.message > tbody > tr:nth-child(odd) > td, 
.message > tbody > tr:nth-child(odd) > th  {
    background-color: #4d4d4d;
    color: #eaeaea;
    padding: 25px 5px 25px 10px;
    border: none;
    font-weight: bold;
}

.message > tbody > tr:nth-child(even) > td, 
.message > tbody > tr:nth-child(even) > th  {
    color: #eaeaea;
    background-color: #363636;
    padding: 25px 5px 25px 10px;
    border: none;
}

/* RAISE INCIDENT */

.form-group {
    margin: 25px auto;
}



.form-control {
    padding: 20px 10px;
    color: white !important;
    background-color: #4d4d4d;
    border-radius: 0px;
    width: 100%;
}

.form_control {
    padding: 20px 10px;
    color: white !important;
    background-color: #4d4d4d;
    border-radius: 0px;
    width: 100%;
}

.form_control option {
    padding: 20px 10px;
    color: white;
}

label {
    color: white;
    font-size: 1.2em;
    font-weight: normal;
	
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:50px;
    height:50px;
    margin:-2px 20px 0 0;
    vertical-align: middle;
    background:url(../img/checkbox.svg) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox.svg) -50px top no-repeat;
	cursor:pointer;
}

.checkbox-label {
    font-size: 1.4em !important;
    color: white;
    font-size: 1.2em;
    display: inline;
}

.ves_list {
    margin: 20px auto;
}

.ves_list  tr, td {
    padding: 5px 15px!important;
}

.custom-checkbox {
    padding: 20px;
    vertical-align: middle;
}
.word-break {
	word-break: break-all;
}