f.signuppageimagecenter {
  display:block;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
}

.top {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.step1 {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.step2 {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.step3 {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

